:root {
  --button-color-green-back: #4fc6b0;
  --button-color-green-gradient: linear-gradient(to left, #3ed2a4, #5dccb7);
  --button-color-green-light: #3ed2a4;
  --button-color-green-dashed-text: #5dccb7;
  --button-color-green-dashed-hover-text: #4db9a5;
  --button-color-text: #fff;
  --button-color-text-grey: #777777;
  --button-color-back-grey: #F4F4F4;
}

.green {
  color: var(--button-color-green-dashed-text);
  background-color: var(--button-color-green-light);
  background-image: var(--button-color-green-gradient);
  border-color: var(--button-color-green-dashed-text);
}

.green:hover {
  color: var(--button-color-green-dashed-hover-text);
  background-color: var(--button-color-green-back);
  background-image: none;
  border-color: var(--button-color-green-dashed-hover-text);
}

.button {
  border: none;
  border-radius: 3px;
  padding: 12px 16px;
  font-size: 15px;
  font-family: "Uni Neue";
  font-weight: 600;
  letter-spacing: 0.05em;
  border-radius: 3px;
  text-transform: uppercase;
}

.style-flat {
  background-image: none;
}

.style-flat,
.style-flat:hover,
.style-gradient,
.style-gradient:hover {
  color: var(--button-color-text);
}

.style-dashed {
  border: dashed 1px;
}

.style-outline {
  border: solid 1px;
}

.style-dashed,
.style-dashed:hover,
.style-outline,
.style-outline:hover,
.style-clean,
.style-clean:hover {
  background-color: transparent;
  background-image: none;
}

.style-block,
.style-block:hover {
  width: 100%;
  color: var(--button-color-text-grey);
  background: var(--button-color-back-grey);
  border-radius: 0;
}

.button > svg {
  margin: -3px 10px 0 0;
}