$react-dates-width-input: 130px !default;
$react-dates-width-arrow: 24px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-spacing-vertical-picker: 72px !default;

$react-dates-color-primary: transparent !default;
$react-dates-color-primary-shade-1: transparent !default;
$react-dates-color-primary-shade-2: transparent !default;
$react-dates-color-primary-shade-3: transparent !default;
$react-dates-color-primary-shade-4: transparent !default;
$react-dates-color-secondary: #007a87 !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default;
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default;
$react-dates-color-gray-lightest: lighten($react-dates-color-gray, 60%) !default;
$react-dates-color-highlighted: #ffe8bc !default;

$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: #757575 !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: #007a87 !default;
$react-dates-color-focus: #99ede6 !default;

$react-dates-z-index: 0 !default;

@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';
@import "./range.scss";
@import "./default.scss";

.DatePicker {
  font-family: "Uni Neue";
}

.DayPickerNavigation--horizontal {
  background-image: linear-gradient(
    -145deg,
    rgba(104, 181, 193, 0.4),
    #3ed2a4
  );
  position: unset !important;
  z-index: 10 !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 0.1em;
  background-color: #fff;
}

.DayPickerNavigation--horizontal svg {
  fill: #fff;
  font-size: 2.5em;
}

.DayPickerNavigation__prev,
.DayPickerNavigation__next {
  margin: 0 !important;
  padding: 0 !important;
  position: unset !important;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  border: none !important;
  background-color: unset !important;
}

.DateInput--with-caret:after,
.DateInput--with-caret:before {
  display: none;
}

.DayPicker__week-header {
  font-family: UniNeue;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #3ed2a4;

  small {
    font-size: 0.9em;
    font-family: "Uni Neue";
    font-weight: 200;
  }
}

.CalendarDay--selected {
  background-image: linear-gradient(132deg, #fc9568 12%, #ff857a) !important;
  border: none !important;
}

.CalendarDay--hovered {
  background-image: linear-gradient(132deg, #fc9568 12%, #ff857a) !important;
  color: #fff !important;
  border: none !important;
  border-color: transparent !important;
}

.CalendarDay--hovered-span {
  background-color: rgba(252, 149, 104, 0.2);
  color: #434343;
}

.CalendarDay--selected-span {
  background-color: rgba(252, 149, 104, 0.2);
  color: #434343;
}

.CalendarDay--selected-start,
.CalendarDay--selected-end,
.CalendarDay--hovered,
.CalendarDay--selected {
  background-color: none !important;
}

.transition-container {
  overflow: unset;
}

.CalendarDay--selected-start,
.CalendarDay--selected-end {
  background-image: linear-gradient(132deg, #fc9568 12%, #ff857a) !important;
  color: #fff;
  position: relative;
  color: #fff !important;

  button {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0.7em;
      border: none;
      border-style: solid;
      border-left-width: 0.5em;
      border-left-color: transparent;
      border-right-width: 0.5em;
      border-right-color: transparent;
      border-top-width: 0.5em;
      border-top-color: transparent;
      border-bottom-width: 0.5em;
      border-bottom-color: transparent;
      height: 0;
      width: 0;
    }
  }
}

.CalendarMonth__caption {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: silver;
}

.DatePicker .DatePicker_confirmation {
  display: none;
  position: relative;
  z-index: 1;
}

.DatePicker_open .DatePicker_confirmation {
  display: flex;
  justify-content: flex-end;
}

.DatePicker_default.DatePicker_open .DatePicker_confirmation {
  width: 300px;
  transform: translate(-0.7em, 450px);
}

.CalendarMonthGrid {
  background-color: transparent;
}

.DatePicker_open .DatePicker_confirmation__button {
  border: none;
  background: none;
  color: #3ed2a4;
  cursor: pointer;
  padding: 0.5em 1em;
}

.CalendarDay--selected-start button:after {
  display: none;
}

.CalendarDay--selected-start button:before {
  right: -1em;
  border-left-color: #ff857a;
}

.CalendarDay--selected-end button:before {
  right: unset;
  left: -1em;
  border-right-color: #ff857a;
}

.CalendarDay {
  width: 44px;
  height: 44px;
  border: none;
}

.CalendarDay--blocked {
  color: rgba(94, 94, 94, 0.5);
}

.CalendarDay--selected-span.CalendarDay--blocked {
  color: #434343;
}
