* {
  box-sizing: border-box;
  font-family: 'Uni Neue';
  letter-spacing: 0.05em;
}

.input {
  border: 0;
  background: transparent;
  border-bottom: 2px solid rgba(59, 59, 59, 0.25);
  border-radius: 3px;
  outline: 0;
  display: block;
  text-align: left;
  font-size: 14px;
  width: 167px;
  height: 37px;
  cursor: pointer;
  color: #3b3b3b;
  text-decoration: none;
  opacity: 1;
  line-height: 42px;
}

.buttonGroup {
  position: relative;
  width: 167px;
}

.dropdownMenu {
  position: absolute;
  top: -1.5em;
  right: 0;
  left: 0;
  width: 180px;
  list-style: none;
  text-align: left;
  border-radius: 3px;
  background: #ffffff;
  display: none;
  box-shadow: 0px 2px 3px 0 rgba(59, 59, 59, 0.25);
}

.option {
  color: #3b3b3b;
  min-height: 35px;
  width: 180px;
  line-height: 15px;
  margin-left: -40px;
  padding-left: 16px;
  white-space: pre-line;
  padding-top: 10px;
  padding-bottom: 8px;
}

.option:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.disabledOption {
  opacity: 0.6;
}

.disabledOption:hover {
  background: none;
  cursor: not-allowed;
}

.isSelected {
  color: #42aebb;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.label {
  color: #8e8e8e;
  font-size: 12px;
  position: absolute;
  top: -10px;
}

.secondaryText {
  height: 12px;
  width: 167px;
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 27px;
}

.arrow {
  position: absolute;
  cursor: pointer;
  bottom: 0px;
  left: 129px;
}

.containerDisabled .input {
  border-bottom: 1px dashed #c5c5c5;
  color: #c5c5c5;
  cursor: not-allowed;
}

.containerDisabled .label {
  color: #c5c5c5;
}

.containerError .input {
  border-bottom: 2px solid #d93e45;
}

.containerError .label {
  color: #d93e45;
}

.containerError .secondaryText {
  color: #d93e45;
}

.containerSuccess .input {
  border-bottom: 2px solid #00a249;
}

.containerSuccess .label {
  color: #00a249;
}

.containerSuccess .secondaryText {
  color: #00a249;
}
